/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.3;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}


/*
  Variables
*/

:root {
  --dark-background-color: #1F2937;
}

/*
  remove text decoration on links and buttons
*/

a {
  text-decoration: none;
  color: inherit;
}

button {
  -webkit-appearance: none;
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;
}



body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  
  
}

.nav {
  padding: 0 180px;
  display: flex;
  justify-content: space-between;
  height: 70px;
  padding-top: 10px;
  background-color: #1F2937;
  color: #E5E7EB;
  font-size: 18px;
}

.nav__menu {
  padding: 20px 0 0 0;
  display: flex;
  gap: 15px;
}

.nav__menu-item {
  list-style-type: none;
  list-style: none;
}

.section-one {
  padding: 100px 180px;
  background-color: #1F2937;
  color: #E5E7EB;
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 18px;
}

.section-one__flex-container {
  flex: 1 1 0;
}

.section-one__img {
  flex: 1;
  min-width: 0; /* important for preventing overflow */
}

.section-one__heading {
  color: #F9FAF8;
  font-size: 48px;
  line-height: 1.1;
}

.section-one__button {
  background-color: #3882F6;
  font-size: 20px;
}

.section-two {
  padding-bottom: 100px;
}

.section-two__heading {
  padding: 30px;
  text-align: center;
  color: #1F2937;
  font-size: 36px;
}

.section-two__flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  text-align: center;
  
}

.section-two__flex-item {
  width: 150px;
}

.section-two__info-img {
  height: 150px;
  width: 150px;
  border: solid #1f4e8f 5px;
  border-radius: 10px;
}

.section-two__info-subtext {
  margin-top: 5px;
}
